<h1>Help</h1>
<p>
  Get help on Ruby on Rails Turtleorial at the
  <a href="http://railstutorial.org/help">Rails Turtleorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Turtlorial book</a>.
</p>